aim==3.17.5
ain==0.0.1
aiodns==3.1.1
airbyte_cdk==0.52.10
aleph_alpha_client==4.0.0
alibabacloud_ha3engine_vector==1.1.1
alibabacloud_tea_util==0.3.11
altair_saver==0.5.0
altair_viewer==0.4.0
anywidget==0.7.1
apify_client==1.5.0
AppKit==0.2.8
arango==0.2.1
arcgis==2.2.0.1
argilla==1.18.0
arize==7.7.0
arthurai==3.31.0
asynctest==0.13.0
atheris==2.3.0
atlassian==0.0.0
azure_storage==0.37.0
bagel==0.3.2
baidubce==0.8.3
banana_dev==6.2.0
bibtexparser==1.4.1
bilibili_api==9.1.0
bokeh==3.3.0
boto3==1.28.77
botocore==1.31.77
brotli==1.1.0
brotlicffi==1.1.0.0
cassio==0.1.3
cchardet==2.1.7
cerebrium==1.9.4
chart_studio==1.1.0
chromadb==0.4.15
clarifai_grpc==9.10.0
clearml==1.13.1
clickhouse_connect==0.6.18
comet_ml==3.35.1
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.5
ctypes_snappy==1.03
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.0.5
cytoolz==0.12.2
datadog_api_client==2.18.0
datasets==2.14.6
deepeval==0.20.13
defusedxml==0.7.1
dingodb==0.0.10
disco==1.40.4
dl==0.1.0
doctran==0.0.14
docutils==0.20.1
docx2txt==0.8
duckdb==0.9.1
dynamodb_encryption_sdk==3.2.0
e2b==0.9.7
elevenlabs==0.2.26
email_validator==2.1.0.post1
esprima==4.0.1
extract_msg==0.45.0
fake_useragent==1.3.0
fastparquet==2023.10.1
feedparser==6.0.10
firebase_admin==6.2.0
fitz==0.0.1.dev2
flytekit==1.10.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2023.10.0
geopandas==0.14.0
gitdb_speedups==0.1.0
google_api_python_client==2.106.0
google_auth_oauthlib==1.1.0
googlemaps==4.10.0
gptcache==0.1.42
gql==3.4.1
gradientai==1.2.0
greenlet==3.0.1
grpc==1.0.0
guardrails==2.0.0
gunicorn==21.2.0
HTMLParser==0.0.2
hypothesis==6.88.1
idna_ssl==1.1.0
infinopy==0.0.4
InstructorEmbedding==1.0.1
ipython==8.16.1
ipywidgets==8.1.1
isoduration==20.11.0
javelin_sdk==0.1.8
jnius==1.1.0
joblib==1.3.2
JPype1==1.4.1
jq==1.6.0
keyring==24.2.0
label_studio_sdk==0.0.32
langchain_experimental==0.0.37
langchainhub==0.1.13
langkit==0.0.23
lark==1.1.8
librosa==0.10.1
listparser==0.19
llmonitor==0.0.25
lockfile==0.12.2
lxml==4.9.3
markdownify==0.11.6
matplotlib==3.8.0
metal_sdk==2.5.0
mlflow==2.8.0
modelscope==1.9.4
motor==3.3.1
mtrand==0.1
mwparserfromhell==0.6.5
mwxml==0.3.3
neo4j==5.14.0
nest_asyncio==1.5.8
networkx==3.2.1
newspaper==0.1.0.7
nltk==3.8.1
nlu==5.0.3
nomic==2.0.14
nucliadb_models==2.29.0.post850
nucliadb_protos==2.29.0.post850
numarray==1.5.1
Numeric==24.2
numexpr==2.8.7
O365==2.0.31
obs==0.0.0
octoai==0.1.1
odfpy==1.4.1
odps==3.5.1
olefile==0.46
openapi_pydantic==0.3.2
openpyxl==3.1.2
outcome==1.3.0.post0
pdf2image==1.16.3
pdfminer==20191125
pdfplumber==0.10.3
pickle5==0.0.12
pinecone_text==0.6.0
pkgutil_resolve_name==1.3.10
plotly==5.18.0
polars==0.19.12
praw==7.7.1
promptlayer==0.3.5
psutil==5.9.6
psychicapi==0.8.4
py==1.11.0
pyairtable==2.1.0.post1
pycares==4.4.0
pycurl==7.45.2
pydub==0.25.1
pyepsilla==0.1.22
pygraphviz==1.11
PyInstaller==6.1.0
pymilvus==2.3.2
pymongo==4.6.0
pyOpenSSL==23.3.0
pyowm==3.3.0
pypdf==3.17.0
PyPDF2==3.0.1
pypdfium2==4.23.1
pyperf==2.6.2
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.6.0
PySide6==6.6.0
pyspark==3.5.0
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.10
pytest==7.4.3
pytest_mock==3.12.0
python-dotenv==1.0.0
pytube==15.0.0
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.6.4
qianfan==0.1.2
QtPy==2.4.0
railroad==0.5.0
rank_bm25==0.2.2
rapidfuzz==3.5.2
rapidocr_onnxruntime==1.3.8
rdflib==7.0.0
reportlab==4.0.6
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rockset==2.1.0
rspace_client==2.5.0
runhouse==0.0.12
s3fs==2023.10.0
scipy==1.11.3
selenium==4.15.1
sentence_transformers==2.2.2
sets==0.3.2
setuptools_scm==8.0.4
simplejson==3.19.2
simsimd==3.5.3
slack_sdk==3.23.0
snowflake==0.0.4
sodapy==2.2.0
spacy==3.7.2
speechkit==2.2.2
Sphinx==7.2.6
sqlcipher3==0.5.2
sqlite_vss==0.1.2
steamship==2.17.32
svglib==1.5.1
sympy==1.12
tables==3.9.1
telethon==1.32.0
tensorflow_text==2.14.0
testbench==0.1.2
text_generation==0.6.1
textractor==0.1.2
textstat==0.7.3
threadpoolctl==3.2.0
tigrisdb==1.0.0b6
tiktoken==0.5.1
timescale_vector==0.0.3
tokenizers==0.14.1
tokio==0.2.0
torch==2.1.0
traitlets==5.13.0
transformers==4.35.0
trio==0.23.0
trio_typing==0.9.0
trove_classifiers==2023.10.18
trubrics==1.6.2
truststore==0.8.0
tweepy==4.14.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.19.0
vearch_cluster==0.0.2
vegafusion==1.4.2
watchdog==3.0.0
webcolors==1.13
whylogs==1.3.12
wolframalpha==5.0.0
xarray==2023.10.1
xlrd==2.0.1
xlsxwriter==3.1.9
xmlrpclib==1.0.1
xmltodict==0.13.0
yfinance==0.2.31
youtube_search==2.1.2
youtube_transcript_api==0.6.1
yt_dlp==2023.10.13
zep_python==1.4.0
zstandard==0.22.0
